.main {
    text-align: center;
}

.input-box {
    background-color: white; 
    border-radius: 9999px;
    width: fit-content; 
    text-align: center;
    margin: auto;
    border: 1px solid black;
}

.top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    justify-content: center;
}

.form-container {
    align-self: center; 
    padding: 50px;
}

.text-field {
    background-color: white;
    outline: none;
    margin-left: 0.25rem;
    width: 800px;
    padding: 20px;
    border-radius: 999px;
    border: none;
    font-size: 20px;
}

.home-title {
    font-size: xx-large;
    margin-top: 20px;
    cursor: pointer;
}

.go-to-papers {
    border-radius: 100px;
    border: 1px solid black;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
}

.go-to-button {
    background-color: transparent;
    border: none; 
    font: inherit; 
    padding: 0;
    cursor: pointer;
}