.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
}

.results {
  padding-left: 30px;
  user-select: auto;
}

.journals {
  padding-top: 10px;
}

.filters {
  flex: 0 1 auto;
  border-right: 2px solid #eee;
  padding-top: 5%;
  margin-left: 5%;
  padding-right: 40px;
  margin-right: 5%;
}

.container {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 5%;
  width: 90%;
}

.expanded-container {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 5%;
  width: 90%;
}

/* .container:hover {
  box-shadow: 1px 1px 5px grey;
} */

.list {
  padding: 10px;
  padding-right: 5%;
  width: 90%;
}

.content-area, .papers-loader {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.papers-loader p {
  font-size: x-large;
}

.text {
  white-space: wrap;
  overflow: hidden;
  text-overflow: clip;
  max-width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  position: relative;
}

.scroll-to-top-container {
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  z-index: 1000;
}

.scroll-to-bottom-container {
  position: fixed;
  bottom: 20px; 
  left: 20px; 
  z-index: 1000;
}

.text .expand-button,
.expanded .expand-button {
  position: absolute;
  right: 0;
  bottom: 0;
  background: white; /* Match background color */
  cursor: pointer;
  color: #f09f9c;
}

.expanded {
  white-space: normal;
  overflow: visible;
  max-width: none;
  display: block;
}

.title {
  font-size: xx-large;
  margin-top: 20px;
  padding-left: 5%;
  cursor: pointer;
}

.paper-title {
  color: #45b3e0;
  font-size: large;
  cursor: pointer;
}