## Matbert

matbert_ner @ git+https://github.com/lbnlp/MatBERT_NER@0.2#egg=matbert_ner

## Matscholar

tensorflow==1.15.0
numpy==1.18.4
protobuf==3.20.3

## Shared

monty==3.0.2
ChemDataExtractor==1.3.0
dill==0.3.0
Unidecode==1.1.1
pymatgen==2018.11.30
PubChemPy==1.0.4
tqdm==4.61.0
gensim==3.7.1