.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
}

.pagination-container {
  display: flex;
  justify-content: center;
  width: 50%;
  padding-bottom: 30px;
  user-select: none;
}

.results-per-page {
  padding-top: 10px;
  padding-bottom: 5px;
}

.journals {
  padding-top: 10px;
}

.filters {
  flex: 1;
  border-right: 2px solid #eee;
  padding-top: 5%;
  margin-left: 5%;
}

.content-area {
  padding-left: 5%;
  flex: 3; 
}

.container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 5%;
  cursor: pointer;
  height: 175px;
}

.expanded-container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-right: 5%;
  cursor: pointer;
}

.paper {
  padding-left: 10%;
  padding-right: 10%;
}

.return {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid black;
}

.button {
  padding-bottom: 10px;
  padding-top: 10px;
}

.container:hover {
  box-shadow: 1px 1px 5px grey;
}

.list {
  flex: 3;
  padding: 10px;
  /* padding-left: 22%; */
  padding-right: 5%;
}

.abstract {
  padding-top: 10px;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loader p {
  font-size: x-large;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 0px;
}

.expanded {
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
  max-width: none;
}

.expand-button {
  padding-top: 10px;
}

.title {
  font-size: xx-large;
  margin-top: 20px;
  padding-left: 5%;
  cursor: pointer;
}