.mat-search-container {
	max-width: 85%;
	min-height: 100vh;
	margin: 0 auto;
	padding: 20px;
	font-family: "Arial", sans-serif;
	background-color: #f9f9f9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}