.paper {
	padding-left: 10%;
	padding-right: 10%;
}

.button {
	padding-bottom: 10px;
	padding-top: 10px;
}

.return {
	padding: 5px;
	border-radius: 10px;
	border: 1px solid black;
}

.abstract {
	padding-top: 10px;
	padding-bottom: 40px;
}

.detail-loader {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.detail-loader p {
	font-size: x-large;
}
